//- using (class="404") because you get unknown token with numbers after the . for classes for some reason. sticking to this in this outlier case
section(class="404")
  .container
    h1 404 Not Found