<template name="market">
  <section class="market">
    <div class="container">
      <form name="marketForm" class="market-form">
        
        <label class="form-label" for="systemName">System</label>
        <input class="text-input" name="systemName" placeholder="ex. LHS 3447" type="text" autofocus="autofocus" tabindex="0"/>

        <label class="form-label" for="stationName">Station Name</label>
        <input class="text-input" name="stationName" placeholder="ex. Dalton Gateway" type="text"/>

        <span class="switch" for="hasBlackMarket">
          <label>Black Market?</label>
          <input name="hasBlackMarket" type="checkbox"/>
        </span>

        <button type="submit">Enter</button>
      </form>
      {{> stationList}}
    </div>
  </section>
</template>

<template name="stationList">
  <ul>
    {{#each stations}}
      {{> station}}
    {{/each}}
  </ul>
</template>

<template name="station">
  <li>{{name}}</li>
</template>