section.market
  .container
    form(name="marketForm").market-form
      label(for="systemName").form-label
        input(name="systemName", placeholder="ex. LHS 3447", type="text", autofocus="autofocus", tabindex="0").text-input

      label(for="stationName").form-label
        input(name="stationName", placeholder="ex. Dalton Gateway", type="text", autofocus="autofocus", tabindex="0").text-input