<template name="defaultFooter">
  <footer class="default-footer">
    <div class="container">
      <p class="copyright">
        &copy;2014-2015 Sean Clayton. All rights reserved. This site has no affiliation with Frontier Developments plc.
        <a href="{{pathFor 'legal'}}">Legal info.</a>
        <a href="https://git.seanclayton.me/sean/elite-dangerous-market-tracker">Source Code.</a>
      </p>
      <p class="copyright">Elite &copy; 1984 David Braben & Ian Bell. Frontier &copy; 1993 David Braben, Frontier: First Encounters &copy; 1995 David Braben and Elite: Dangerous &copy; 1984 - 2014 Frontier Developments plc. All rights reserved. 'Elite', the Elite logo, the Elite: Dangerous logo, 'Frontier' and the Frontier logo are registered trademarks of Frontier Developments plc. All rights reserved. All other trademarks and copyright are acknowledged as the property of their respective owners.</p>
    </div>
  </footer>
</template>