$dark-gray: #101010;
$elite-orange: #ff8c0d;
$elite-blue: #55c5ca;
$elite-red: #c92202;
$vivid-blue: #09f;

$primary-color: $elite-orange;
$secondary-color: white;
$primary-accent-color: $elite-blue;
$secondary-accent-color: $vivid-blue;
$alert-color: $elite-red;
$success-color: #43ac6a;
$warning-color: $elite-orange;
$info-color: $elite-blue;

html, body {
  min-height: 100vh;
  width: 100vw;
}

html {
  background: url('/images/background.jpg') center center no-repeat fixed;
  background-size: cover;
  color: white;
}

body {
  $scanLineWidth: 1.5px;
  background: -webkit-repeating-linear-gradient(
      top,
      rgba(black, .5),
      rgba(black, .5) $scanLineWidth,
      rgba(black, 1) $scanLineWidth,
      rgba(black, 1) $scanLineWidth*2
  );
  -webkit-background-size: 100% $scanLineWidth*2;
}

#app {
  background: rgba(black, .5);
}

h1,h2,h3,h4,h5,h6 {
  color: $primary-color;
  text-shadow: 0 1px 0 rgba(black, 1);
}

hr {
  background: $primary-color;
  @include linear-gradient(left, rgba($primary-color, 0), rgba($primary-color, 1), rgba($primary-color, 0));
}

p {
  text-shadow: 0 1px 0 rgba(black, 1);

  a {
    color: $primary-accent-color;
  }
}

button, .button {
  background: transparent;
  border-width: 2px;

  .secondary {
    background: transparent;
  }
}

thead {
  background: white;
  color: black;
  border: 2px solid white;
}

tr {
  border-bottom: 2px solid white;
}

td {
  border: 2px solid white;
  text-shadow: 0 1px 0 rgba(black, 1);

  &:hover {
    background: white;
    color: black;
    text-shadow: 0 1px 0 rgba(white, 1);
  }
}