// My Personal Color Palette
// https://git.seanclayton.me/snippets/1
$pink: #f58;
$blue: #09f;
$yellow: #dc4;
$orange: #f80;
$green: #00d030;
$khaki: #db8;
$brown: #4d3510;
$foam: #6c9;
$fire: #f50;
$sponge: #ffb;
$innocent: #f9d;
$blood: #d11;
$svelte: #424242;
$wite: #f0f0f0;
$blak: #303030;

$dark-gray: #101010;
$elite-orange: #ff8c0d;
$elite-blue: #55c5ca;
$elite-red: #c92202;
$elite-orange-red: #f14c02;
$vivid-blue: #09f;

$primary-color: $elite-orange;
$secondary-color: white;
$accent-color-1: $elite-blue;
$accent-color-2: $vivid-blue;
$accent-color-3: $elite-orange-red;
$accent-color-4: $elite-red;
$alert-color: $elite-red;
$success-color: #43ac6a;
$warning-color: $elite-orange;
$info-color: $elite-blue;

$default-header-bg: rgba($svelte, .5);
$default-header-heading-color: white;

$table-even-row-bg: rgba(white, .25);
$table-odd-row-bg: rgba(black, .25);
$table-even-row-text-color: white;
$table-odd-row-text-color: white;

$default-content-bg-gradient-start: rgba($accent-color-3, .5);
$default-content-bg-gradient-end: rgba($accent-color-3, 0);

$default-navbar-bg: rgba($primary-color, .75);

$default-navbar-link-color: white;
$default-navbar-link-background: transparent;
$default-navbar-link-shadow: 0 1px 0 rgba(black, .25);

$default-navbar-link-color-hovered: black;
$default-navbar-link-background-hovered: white;
$default-navbar-link-shadow-hovered: none;

$default-navbar-link-color-active: black;
$default-navbar-link-background-active: white;
$default-navbar-link-shadow-active: none;

html {
  background: url('/images/background.jpg') center center no-repeat fixed;
  background-size: cover;
  color: white;
}

body {
  $scanLineWidth: 1px;
  background: -webkit-repeating-linear-gradient(top, rgba(black, .75), rgba(black, .75) $scanLineWidth, rgba(black, 1) $scanLineWidth, rgba(black, 1) 3px) fixed;
  background: -moz-repeating-linear-gradient(top, rgba(black, .75), rgba(black, .75) $scanLineWidth, rgba(black, 1) $scanLineWidth, rgba(black, 1) 3px) fixed;
  background: -ms-repeating-linear-gradient(top, rgba(black, .75), rgba(black, .75) $scanLineWidth, rgba(black, 1) $scanLineWidth, rgba(black, 1) 3px) fixed;
  background: repeating-linear-gradient(top, rgba(black, .75), rgba(black, .75) $scanLineWidth, rgba(black, 1) $scanLineWidth, rgba(black, 1) 3px) fixed;
  -webkit-background-size: 100% $scanLineWidth*2;
}

#app {
  background-color: rgba(black, .5);
}

h1,h2,h3,h4,h5,h6 {
  color: $primary-color;
  text-shadow: 0 1px 0 rgba(black, 1);
}

hr {
  background: $primary-color;
  @include linear-gradient(left, rgba($primary-color, 0), rgba($primary-color, 1), rgba($primary-color, 0));
}

p {
  text-shadow: 0 1px 0 rgba(black, 1);

  a {
    color: $accent-color-1;
  }
}

button, .button {
  background: transparent;
  border-width: 2px;

  .secondary {
    background: transparent;
  }
}

thead {
  background: white;
  color: black;
  border: 2px solid white;
}

tbody {
  tr {
    &:nth-child(even) {
      color: $table-even-row-text-color;
      background: $table-even-row-bg;
    }
    &:nth-child(odd) {
      color: $table-odd-row-text-color;
      background: $table-odd-row-bg;
    }
  }
}

tr {
  border-bottom: 2px solid white;
}

td {
  border: 2px solid white;
  text-shadow: 0 1px 0 rgba(black, 1);

  &:hover {
    background: white;
    color: black;
    text-shadow: none;
  }
}