.switch {
  display: block;

  input {
    margin: 0 0 1rem 0;
  }

  input {
    @include appearance(none);
    cursor: pointer;
    width: 5.15rem;
    height: 2.5rem;
    border: 2px solid $elite-red;
    background: linear-gradient($elite-red,$elite-red) no-repeat center left, transparent;
    background-size: 2.5rem 2.5rem, auto;
  }

  input:active,
  input:focus {
    box-shadow: 0 0 1rem rgba(white, .5);
    outline: none;
  }
  
  input:checked {
    border-color: $foam;
    background-image: linear-gradient($foam,$foam);
    background-position: right;
  }

}