$border-box-sizing: true !default;
$max-width: 75vw;
$hidden-overflow: false;
$visual-grid: true !default;

html {
  @if ($hidden-overflow) {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

html, body {
  min-height: 100vh;
  width: 100%;
}

table {
  @include fill-parent;
}

td {
  padding: rem(4px) rem(8px);
}

hr{
  border: 0;
  height: 1px;
  width: 50%;
  margin: 2rem auto;
}