$border-box-sizing: true !default;
$border-width: 2px;
$hidden-overflow: false;
$default-border-radius: 0;

html {
  @if ($hidden-overflow) {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

html, body {
  min-height: 100vh;
  width: 100%;
}

thead {
  border: {
    size: $border-width;
  }
}

button, .button {
  border: {
    width: $border-width;
    style: solid;
  }
}

table {
  @include fill-parent;
}

td {
  padding: rem(4px) rem(8px);
}

hr{
  border: 0;
  height: 1px;
  width: 50%;
  margin: 2rem auto;
}

input, button, textarea, select {
  border-radius: $default-border-radius;
}