$border-box-sizing: true !default;
$max-width: 75vw;
$hidden-overflow: true;
$visual-grid: true !default;

html {
  @if ($hidden-overflow) {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

table {
  @include fill-parent;
}

td {
  padding: rem(4px) rem(8px);
}